<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="uk.ac.diamond.scisoft.analysis.rcp"
            class="uk.ac.diamond.scisoft.analysis.powder.matcher.ccdc.rcp.views.CellSearchRoutineView"
            icon="icons/cellSearch.png"
            id="uk.ac.diamond.scisoft.analysis.powder.matcher.ccdc.rcp.CellSearchRoutineView"
            name="Unit Cell Searcher"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="uk.ac.diamond.scisoft.analysis.powder.matcher.ccdc.rcp.PowderAnalysisPerspective">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.diamond.scisoft.analysis.powder.matcher.ccdc.rcp.PowderAnalysisPerspective"
            id="uk.ac.diamond.scisoft.analysis.powder.matcher.ccdc.rcp.PowderAnalysisPerspective"
            name="Powder Analysis Perspective">
      </perspective>
   </extension>

</plugin>
